<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>47510072077-2k5u7h46uu2lsba8lm059s8v1ur2gf2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47510072077-2k5u7h46uu2lsba8lm059s8v1ur2gf2s</string>
	<key>API_KEY</key>
	<string>AIzaSyBOfvs5oz_LTxi53SWgFSQ_cD9ZmL9w5Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>47510072077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.samuelbeaulieu.journey</string>
	<key>PROJECT_ID</key>
	<string>journey-85487</string>
	<key>STORAGE_BUCKET</key>
	<string>journey-85487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:47510072077:ios:8c1aea4f6b2d749a</string>
	<key>DATABASE_URL</key>
	<string>https://journey-85487.firebaseio.com</string>
</dict>
</plist>
